* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    font-family: sans-serif;
    background: url(bg.gif) no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    background: url(dark.jpg);
}

.theme-toggler.active::before {
    background: url(light.jpg);
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: url(dark.jpg);
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 100px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}


/* light theme */

.calculator {
    background-color: #EFFFFD;
}

.calculator #display {
    color: #19376D;
}

.calculator h2{
    color: #42C2FF;
    padding-left: 5px;
}

.calculator button#clear {
    background-color: #42C2FF;
    color: #0B2447;
    font-size: 25px;
}

.calculator button.btn-number {
    background-color: #b6e9f0;
    color: #576CBC;
}

.calculator button.btn-operator {
    background-color: #85F4FF;
    color: #19376D;
    font-size: 35px;
  }
  
  .calculator button.btn-operator#backspace{
    background-color: #42C2FF;
    color: #0B2447;
    font-size: 25px;
  }
  
  .calculator button.btn-equal {
    background-color: #42C2FF;
    color: #0B2447;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #070F2B;
  }

  .calculator.dark #display {
    color: #F5EEE6;
  }

  .calculator.dark h2{
    color: #d1e2f0;
    padding-left: 5px;
}

  .calculator.dark button#clear {
    background-color: #576CBC;
    color: #EFFFFD;
  }

  .calculator.dark button.btn-number {
    background-color: #1B1A55;
    color: #B8FFF9;
  }

  .calculator.dark button.btn-operator {
    background-color: #535C91;
    color: #fff;
    font-size: 35px;
  }
  
  .calculator.dark button.btn-operator#backspace{
    background-color: #576CBC;
    color: #EFFFFD;
    font-size: 25px;
  }

  .calculator.dark button.btn-equal {
    background-color: #576CBC;
    color: #EFFFFD;
  }
  